* {
  padding: 0;
  margin: 0;
}

menu nav {
  background-color: #000;
}

nav {
  background-color: #edf6f9;
}

nav a {
  color: grey;
  width: auto;
}

.bt-style {
  margin-left: 50%;
  background-color: white;
  border: 1px solid grey;
  border-radius: 25px;
  color: black;
}

.card {
  margin-top: 3%;
}

.card img {
  max-width: 100%;
  object-fit: contain;
}

.col img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #edf6f9;
}
