#clock {
    font-size: 11rem;
    width: 57rem;
    margin: 12.5rem;
    text-align: center;
    border: 0.1rem solid #ffffff;
    border-radius: 1.6rem;
    color:white;
    background-color: transparent;
    backdrop-filter: blur(2rem);
}

body{
    background-image: url("9077172_copy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#footpara{
    color: #cccccc;
    text-align: center;
    font-size: large;
    text-transform: capitalize;
}